[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.1"
django-debug-toolbar = "*"
django-extensions = "*"
django-environ = "==0.9.0"
whitenoise = "==6.2.0"
django-allauth = "==0.51.0"
django-storages = "==1.13.1"
boto3 = "==1.24.94"

[dev-packages]

[requires]
python_version = "3.10"
