{% extends "_base.html" %}

{% block body %}
<main class="customer-detail">
    <div class="customer-title-container">
        <div class="customer-title">
            <h1 class="customer-title-address">{{customer.address}}</h1>
            <h2 class="customer-title-name">{{customer.first_name}} {{customer.last_name}}</h2>
        </div>
       
        <div class="customer-detail-nav">
            <div>
                {% if prev_customer %}
                <a href="{% url 'customer_detail' pk=prev_customer.order %}"><<</a>
                {% endif %}
            </div>
            <div>
                {% if next_customer %}
                <a href="{% url 'customer_detail' pk=next_customer.order %}">>></a>
                {% endif %}
            </div>
        </div>
    </div>

    

    <div class="customer-info-container">
        <div class="customer-info-image">
            {% if customer.photo %}
            <img class="customer-image" src="{{customer.photo.url}}">
            {% else %}
            IMAGE HERE
            {% endif %}

        </div>
        <div class="customer-info-details">
            <div class="customer-info-notes">
                <h3>Notes</h3>
                {{customer.notes|linebreaks}}
            </div>
            <div class="customer-info-hazards">
                <h3>Hazards</h3>
                <ul>
                    {% for hazard in customer.hazards.all %}
                    <li class="">{{hazard.content}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="customer-info-direction">
                <h3>Blowing Direction</h3>
                <p>
                    <span class="direction-indicator">{{customer.blowing_direction}}</span>
                </p>
            </div>
        </div>
    </div>

</main>

{% endblock body %}