{% extends "_base.html" %}

{% block body %}

<div class="form-edit-container">
    <div class="form-customer-add">
        <form method="POST" enctype="multipart/form-data">
            <div class="customer-add-form">
                {% csrf_token %}
                {{form.non_field_errors}}

                <div class="customer-form-address">
                    <div class="form-section">
                        {{form.first_name.errors}}
                        <div class="form-field">
                            {{form.first_name}}
                        </div>

                        {{form.last_name.errors}}
                        <div class="form-field">
                            {{form.last_name}}
                        </div>
                    </div>

                    <div class="form-section">
                        {{form.address.errors}}
                        <div class="form-field">
                            {{form.address}}
                        </div>

                        {{form.zip_code.errors}}
                        <div class="form-field zipcode">
                            {{form.zip_code}}
                        </div>
                    </div>
                    {{form.photo.errors}}
                    <div class="form-field">
                        {{form.photo}}
                    </div>
            
                </div>

                <div class="customer-form-details">
                    {{form.blowing_direction.errors}}
                    <div class="form-field">
                        {{form.blowing_direction}}
                    </div>

                    {{form.notes.errors}}
                    <div class="form-field">
                        {{form.notes}}
                    </div>
                </div>
                <div class="customer-form-hazards">
                    <div>Hazards</div>
                    {{formset.management_form}}
                    {% for form in formset %}
                        {% for hidden in form.hidden_fields %}
                            {{hidden}}
                        {% endfor %}
                    {{form.errors}}
                        {{form.content.errors}}
                        <div class="form-field">
                            {{form.content}}
                        </div>
                    {% endfor %}
                </div>
                
            </div>
            <div class="form-button-container">
                <button class="form-add-button" type="Submit">Add</button>
            </div>
        </form>
    </div>
</div>

{% endblock body %}