{% extends "_base.html" %}

{% block body %}

<div class="form-container">
    <form class="form-customer-add" method="POST" enctype="multipart/form-data">
        <div class="customer-add-form">
            {% csrf_token %}
            {{form.non_field_errors}}

            <div class="customer-form-address">
                <div class="form-section">
                    {{form.first_name.errors}}
                    <div class="form-field">
                        {{form.first_name}}
                    </div>

                    {{form.last_name.errors}}
                    <div class="form-field">
                        {{form.last_name}}
                    </div>
                </div>

                <div class="form-section">
                    {{form.address.errors}}
                    <div class="form-field">
                        {{form.address}}
                    </div>

                    {{form.zip_code.errors}}
                    <div class="form-field zipcode">
                        {{form.zip_code}}
                    </div>
                </div>
                {{form.photo.errors}}
                <div class="form-field">
                    {{form.photo}}
                </div>
        
            </div>

            <div class="customer-form-details">
                {{form.blowing_direction.errors}}
                <div class="form-field">
                    {{form.blowing_direction}}
                </div>

                {{form.notes.errors}}
                <div class="form-field">
                    {{form.notes}}
                </div>
            </div>
            <div>
                <div>Hazards</div>
                {{formset.management_form}}
                {% for form in formset %}
                    {{form.content.errors}}
                    <div class="form-field">
                        {{form.content}}
                    </div>
                {% endfor %}
            </div>
            
        </div>
        <button type="Submit">Add</button>
    </form>
</div>


<div class="upload-container">
    <div class="upload-wrapper">
        <div class="upload-link-container">
            <a href="{% url 'upload_customers' %}"><div class="upload-button">Upload</div></a>
        </div>
    </div>
</div>

<div class="customer-list-container">
    <div class="customer-list-grid">
    {% for customer in customers %}
        <div>{{customer.order}}</div>
        <div><a href='{% url "customer_detail" pk=customer.pk %}'>{{customer.first_name}}</a></div>
        <div><a href='{% url "customer_detail" pk=customer.pk %}'>{{customer.last_name}}</a></div>
        <div><a href='{% url "customer_detail" pk=customer.pk %}'>{{customer.address}}</a></div>
        <div>{{customer.zip_code}}</div>
        <div>{{customer.blowing_direction}}</div>
        <div>{% for hazard in customer.hazards.all %} {{hazard.content}}, {% endfor %}</div>
        <div>{{customer.notes|linebreaks}}</div>
        <div><a href='{% url "customer_edit" pk=customer.pk %}'>Edit</a></div>
        <div></div>
    {% endfor %}
    </div>
</div>



{% endblock body %}