{% extends "_base.html" %}

{% block body %}

<div class="form-customer-add">
    <form method="POST">
        <div class="customer-add-form">
        {% csrf_token %}
        {{form.non_field_errors}}

        {{form.first_name.errors}}
        <div class="form-field">
            {{form.first_name}}
        </div>

        {{form.last_name.errors}}
        <div class="form-field">
            {{form.last_name}}
        </div>

        {{form.address.errors}}
        <div class="form-field">
            {{form.address}}
        </div>

        {{form.zip_code.errors}}
        <div class="form-field">
            {{form.zip_code}}
        
        </div>
        {{form.blowing_direction.errors}}
        <div class="form-field">
            {{form.blowing_direction}}
        </div>

        {{form.notes.errors}}
        <div class="form-field">
            {{form.notes}}
        </div>

        {{formset.management_form}}
        {% for form in formset %}
            {{form.as_p}}
        {% endfor %}
    </div>
        <button type="Submit">Add</button>
    </form>
</div>

<div class="customer-list-grid">
{% for customer in customers %}
    <div>{{customer.first_name}}</div>
    <div>{{customer.last_name}}</div>
    <div>{{customer.address}}</div>
    <div>{{customer.zip_code}}</div>
    <div>{{customer.blowing_direction}}</div>
    <div>{{customer.warning}}</div>
    <div>{{customer.notes|linebreaks}}</div>
{% endfor %}
</div>



{% endblock body %}