/*
  Josh's Custom CSS Reset - https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* End of custom CSS reset */

* {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-bottom: 50px;
}

.header-logo {
    margin-left: 15px;
}

.header-nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 15px;
}

.header-nav-links>a {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 20px;
}

.login--card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.form-field {
    margin-bottom: 10px;
}

.form-field>input {
    border-radius: 3px;
    border: 1px solid rgba(49, 52, 66, 1);
    height: 35px;
}

.button-login {
    background-color: rgba(49, 52, 66, 1);
    border-radius: 5px;
    border: none;
    color: white;
    height: 30px;
}

.customer-list-grid {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr 2fr 2fr 2fr;
}

.customer-detail {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
}

.customer-title-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 50px;
}

.customer-title-address {
    font-size: 3rem;
    /* margin-right: 20px; */
}

.customer-title-name {
    font-weight: 400;
}

.customer-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}

.customer-info-details {
    display: flex;
    flex-direction: column;
}