{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    {% if user.is_authenticated %}
    <header class="header-nav">
        <div class="header-nav-links">
            <a href="{% url 'account_logout'%}">Logout</a>
        </div>
        <img class="header-logo" src="{% static 'images/AllUP_Logo_Tagline_Color_100x500.png' %}" height="50">
        <div class="header-nav-links">
            <a href="{% url 'home'%}">Home</a>
        </div>
    </header>
    {% endif %}
    {% block body %}
    {% endblock body %}
</body>
</html>